.container_landing_page {
    max-width: 750px;
    text-align: center;
    margin: 30px auto;
}

.Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.button {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: #3BE8B0;
    transition: 0.7s;
    text-decoration: none;
    color: #ffffff;
}

.button_gradient {
    background-image: linear-gradient(to right, #1BAFD0, #FD636B, #FFB900, #3BE8B0);
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
}

.button_gradient:hover {
    color: #000000;
}

@media screen and (max-width: 1024px) {
    .container_landing_page {
        max-width: 550px;
    }
}

@media screen and (max-width: 768px) {
    .container_landing_page {
        max-width: 600px;
    }
}

@media screen and (max-width: 540px) {
    .container_landing_page {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    .container_landing_page {
        max-width: 300px;
    }

    .Flex {
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }
}

@media screen and (max-width: 280px) {
    .container_landing_page {
        max-width: 200px;
    }

    .Flex {
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }
}