.container_landing_page {
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
}

.Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

.select {
    background-color: #101010;
    color: white;
    margin-bottom: auto;
    padding: 3px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    border: 4px;
    cursor: pointer;
    border-style: solid;
    border-color: #3BE8B0;
}

.button {
    background-color: #101010;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    border: 4px;
    cursor: pointer;
    border-style: solid;
    border-color: #1BAFD0;
}

.button:hover {
    background-color: #1BAFD0;
    transition: 0.7s;
    text-decoration: none;
    color: #ffffff;
}

.button_gradient {
    background-image: linear-gradient(to right, #1BAFD0, #FD636B, #FFB900, #3BE8B0);
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
}

.container {
    margin: 2.5rem 0px;
}

.button_gradient:hover {
    color: #000000;
}

@media screen and (max-width: 1024px) {
    .container_landing_page {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .container_landing_page {
        max-width: 700px;
    }
}

@media screen and (max-width: 540px) {
    .container_landing_page {
        max-width: 500px;
    }

    .Flex {
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .container_landing_page {
        max-width: 300px;
    }

    .Flex {
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }
}

@media screen and (max-width: 280px) {
    .container_landing_page {
        max-width: 200px;
    }

    .Flex {
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }
}