/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/static/img/colourbox_hero_image.png');
  background-size: cover;
  background-repeat: no-repeat;

  height: 50vh;

  --ifm-hero-text-color: #ffffff;
  flex: 1;
  align-items: center;
}

@media screen and (max-width: 360px) {
  .heroBanner {
    background-image: url('/static/img/colourbox_hero_image_2.png');
  }
}

@media screen and (max-width: 768px) {
  .heroBanner {
    background-image: url('/static/img/colourbox_hero_image_2.png');
  }
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons>a {
  margin: 0.2rem;

}