/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #101010;
  min-height: 98vh;
  --ifm-hero-text-color: #ffffff;
  flex: 1;
  align-items: center;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons>a {
  margin: 0.2rem;

}

.bubble {
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  min-height: 30rem;
  min-width: 30rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752,
      #e73c7e);
  background-size: 400% 400%;
  -webkit-animation: circleAround 12s linear infinite, gradient 8s ease infinite;
  animation: circleAround 12s linear infinite,
    gradient 8s ease infinite;
}

.bubbleSmall {
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  min-height: 10rem;
  min-width: 10rem;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752,
      #e73c7e, #23a6d5,
      #23d5ab, );
  background-size: 400% 400%;
  -webkit-animation: circleAround 7s linear infinite, gradient 8s ease infinite;
  animation: circleAround 7s linear infinite,
    gradient 8s ease infinite;
}

.bubbleReverse {
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  min-height: 30rem;
  min-width: 30rem;
  background: linear-gradient(-45deg, #e73c7e, #ee7752, #fff, #23d5ab, #23a6d5, #23d5ab,
      #ee7752);
  background-size: 400% 400%;
  -webkit-animation: reverseCircleAround 23s linear infinite, gradient 8s ease infinite;
  animation: reverseCircleAround 23s linear infinite,
    gradient 8s ease infinite;
}

.bubbleSmallReverse {
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  min-height: 21rem;
  min-width: 21rem;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752,
      #e73c7e);
  background-size: 400% 400%;
  -webkit-animation: reverseCircleAround 4s linear infinite, gradient 8s ease infinite;
  animation: reverseCircleAround 4s linear infinite,
    gradient 8s ease infinite;
}

.gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes reverseCircleAround {
  from {
    transform: rotate(0deg) translateX(-12vw) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(-12vw) rotate(-360deg);
  }
}

@-webkit-keyframes reverseCircleAround {
  from {
    transform: rotate(0deg) translateX(-120vw) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(-12vw) rotate(-360deg);
  }

}

@-webkit-keyframes circleAround {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }

}

@keyframes circleAround {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}