/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-navbar-background-color: #101010;
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
    --swiper-pagination-color: rgba(255, 255, 255);
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.5);
    --swiper-pagination-bullet-inactive-opacity: 0.2;
}

.navbar__toggle {
    position: absolute;
    right: 0
}

.navbar__item {
    color: white;
}

.navbar__link {
    color: rgba(255, 255, 255, 0.689)
}

.navbar__link--active {
    color: white;
}

.navbar__items {
    gap: 0.3rem;
}

.navbar-sidebar__item {
    position: relative;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.menu__link--active:not(.menu__link--sublist) {
    background: transparent;
}


.menu__link {
    color: white;
    background-color: transparent;
    text-align: center;
}

.menu__link:hover {
    background-color: transparent;
    color: #25c2a0;
}

.menu__list-item {
    text-align: center;
}

.footer {
    background-color: #000000d0;
}

.button {
    color: white;
    padding: 5px 10px;
    clear: left;
    max-width: 12rem;
    min-width: fit-content;
    font-weight: bold;
    border-radius: 12px;
    border: 2px;
    margin: 0rem 0.25rem;
    font-weight: normal;
    cursor: pointer;
    border-style: solid;
    border-color: #1BAFD0;
}

.button:hover {
    background-color: #1BAFD0;
    transition: 0.7s;
    text-decoration: none;
    color: #ffffff;
}

.success-btn {
    color: black;
    padding: 3px 10px;
    clear: left;
    min-width: 6.5rem;
    font-weight: bold;
    border-radius: 12px;
    border: 2px;
    margin: 0rem 0.25rem;
    font-weight: normal;
    cursor: pointer;
    border-style: solid;
    border-color: var(--ifm-color-primary);
    background-color: var(--ifm-color-primary);
}

.success-btn:hover {
    filter: brightness(1.2);
    color: black;
    transition: 0.7s;
    text-decoration: none;
}

div.swiper-button-prev,
div.swiper-button-next {
    color: white;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    min-height: 350px;
    height: 100%;
    object-fit: cover;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
    --ifm-background-color: #101010;

}

.button-mr {
    margin-right: 10px;
}

.dropdown__menu {
    background-color: #171717;
}

.dropdown__link {
    color: white;
    background-color: #2a2a2a;
}

.dropdown__link:hover {
    color: #25c2a0;
}

.button-rounded {
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 80%;
    margin: 50px auto;
    border: none;
}

.centerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoContainer {
    background: #D9D9D9;
    max-height: 547px;
    min-height: 300px;
    position: relative;
    aspect-ratio: 16/9;
}

.playIcon {
    background-color: #EE0009;
    border-radius: 20px;
    min-width: 90px;
    padding: 1rem;
}


.startButton {
    color: black;
    margin: 1rem;
    padding: 8px 40px;
    text-align: center;
    min-width: 6.5rem;
    font-weight: bold;
    border-radius: 12px;
    margin: 0rem 0.25rem;
    font-size: x-large;
    font-weight: normal;
    cursor: pointer;
    background-color: var(--ifm-color-primary);
}

.startButton:hover {
    filter: brightness(1.2);
    color: black;
    transition: 0.7s;
    text-decoration: none;
}

.moreInfo {
    text-decoration-line: underline;
    font-weight: 400;
    font-size: large;
    color: white;
    line-height: 61px;
}

@media screen and (max-width: 1024px) {
    .responsive-iframe {
        width: 80%;
        height: 65%;
        margin-top: 100px;
    }

    .success-btn,
    .success-btn:hover {
        color: white;
        background-color: var(--ifm-color-primary);
    }
}

@media screen and (max-width: 768px) {
    .responsive-iframe {
        width: 80%;
        height: 70%;
    }


}


@media screen and (max-width: 540px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 280px) {
    .responsive-iframe {
        height: 60%;
    }
}