/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --swiper-pagination-color: #1BAFD0;
  --swiper-pagination-bullet-inactive-color: #1BAFD0;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
}

.button {

  color: white;
  padding: 5px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  border: 2px;
  margin: 0rem 0.25rem;
  font-weight: normal;
  cursor: pointer;
  border-style: solid;
  border-color: #1BAFD0;
}

.button:hover {
  background-color: #1BAFD0;
  transition: 0.7s;
  text-decoration: none;
  color: #ffffff;
}

.success-btn {
  border-color: var(--ifm-color-primary);
}

.success-btn:hover {
  background-color: var(--ifm-color-primary);
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #1BAFD0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  --ifm-background-color: #101010;

}

.button-mr {
  margin-right: 10px;
}

.button-rounded {
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 80%;
  margin: 50px auto;
  border: none;
}

@media screen and (max-width: 1024px) {
  .responsive-iframe {
    width: 80%;
    height: 65%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .responsive-iframe {
    width: 80%;
    height: 70%;
  }
}


@media screen and (max-width: 540px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 280px) {
  .responsive-iframe {
    height: 60%;
  }
}