/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  --ifm-background-color: #101010;

}

.button-mr {
  margin-right: 10px;
}

.button-rounded {
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 80%;
  margin: 50px auto;
  border: none;
}

@media screen and (max-width: 1024px) {
  .responsive-iframe {
    width: 80%;
    height: 65%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .responsive-iframe {
    width: 80%;
    height: 70%;
  }
}

@media screen and (max-width: 540px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 280px) {
  .responsive-iframe {
    height: 60%;
  }
}